__pycache__/
*.pyc
build/
.vscode
ext/
ramulator2
*.so
traces/
cputraces/
run_scripts/
rerun_scripts/
run_personal.sh
run_slurm.sh
run.sh

ae_results/*
!ae_results/**/_csvs/
!ae_results/**/_plots/
!ae_results/**/_csvs/**
!ae_results/**/_plots/**